.gallery {
  display: grid;
  grid-gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
}

@media screen and (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
